@import "./config.scss";
*{
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
  box-sizing:border-box;
}
page{
  height:100%;
  width:100%;
  position: relative;
  font-size:28rpx;
}
.container {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.hr{
  height:8rpx;
  width:100%;
  background: #c90915;
}
.ct_w {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background:#efefef;
  overflow-x: hidden;
  overflow-y: scroll;
}
.ct-t{
  background:#fff;
  width:100%;
  height:400rpx;
  overflow: hidden;
  .top-banner{
    width:100%;height: 100%;
    .top-bgs{
      width:100%;height: 100%;
    }
  }

}
.ct-b{
  position: relative;
  top:-90rpx;
  margin: 0 15rpx;
  overflow: hidden;
}
.ct-list{
  width:100%;
  border-radius: 10rpx 10rpx 0 0;
  border-bottom:2rpx solid #ccc;
  background:#fff;
  margin-bottom:15rpx;
  .ct-list-header{
    font-size:26rpx;
    color:#000;
    padding:20rpx 15rpx;
    border-bottom:1rpx solid #f5f5f5;
    font-weight: 700;
    letter-spacing: 2rpx;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
    .icon{
      width:32rpx;
      height:32rpx;
      margin-right:8rpx;
    }
  }
  .list-body{
    padding:0 15rpx 15rpx;
    border-bottom:2rpx solid #f5f5f5;
    overflow: hidden;
    .list-body-title{
      font-size:28rpx;
      padding:15rpx 0;
    }
    .list-body-items{
      margin-bottom: 20rpx;
    }
  }
 }
.task-titles{
  margin-bottom:10rpx;
}
.task-show-img{
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  .flex1{
    flex: 1 !important;
  }
  .lg-left{
    flex:.6;
    height:300rpx;
    img{
      width:100%;
      height:100%;
    }
  }
  .lg-right{
    flex:.38;
    height:300rpx;
    .height-cover{
      overflow: hidden;
      height:300rpx !important;
      >img{
        width:100%;
        height:100%;
      }
    }
    .img-r{
      overflow: hidden;
      height:145rpx;
      &:first-child{
        margin-bottom:10rpx;
      }
      >img{
        width:100%;
        height:100%;
      }
    }
  }
}
.fs-b{
  font-weight: 700;
}
.ts-d{
  text-decoration:underline;
}
.mr-20{
  margin-right:20rpx;
}
.pd-tb15{
  padding-top:15rpx;
  padding-bottom:15rpx;
}


.h2w__p{
  padding:15rpx 0;
}
