$red_s:#f90915;
$red_q:#f80006;
$orange_s:#f15e54;
$orange_m:#f46a02;
$orange_q:#ff9a50;
$yellow_q:#fcd248;
$green_s:#0ab143;
$blue_q:#18c6e5;
$blue_s:#3498db;
$white_s:#f8f8f8;
$black_s:#1e1311;
$black_q:#878787;
$black_z:#c2c2c2;

$fs_s:22rpx;
$fs_m:24rpx;
$fs_b:26rpx;
$fs_l:30rpx;
